* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: rgb(119, 216, 211);
}
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(106, 122, 158);
    background-color: rgb(229, 243, 248);
}

/* header section styles */
header {
    background-color: rgb(52, 66, 80);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999; 
}

header h1 {
    padding-left: 20px;
    background-color: var(--primary-color);
    margin: 10px 0 10px;
    text-shadow: 0 0 10px rgba(24, 23, 23, 0.3);
}
header h1 a {
    font-weight: bold;
    font-size: 42px;
    margin: 0;
    background-color: var(--primary-color);
    color: black;
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}

header nav {
    margin: 10px 0;
    padding: 0 55px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    text-shadow: 0 0 10px rgba(24, 23, 23, 0.3);
}
header nav ul li a:hover {
    background: var(--primary-color);
    color: black;
    border-radius: 15px;
    text-shadow: none;
}

header nav ul li a {
    padding: 10px 10px;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}

/* hero styles section */
.hero {
    background-image: url(/css/images/background3.jpg);
    width: 100%;
    height: 350px;
    background-size: cover;
    background-position: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.hero h2 {
    font-weight: bold;
    font-size: 25px;
    margin: 0;
    background-color: var(--primary-color);
    color: black;
    padding: 5px;
    margin: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: row;
    opacity: 0.8;
    text-shadow: 0 0 10px rgba(24, 23, 23, 0.3);
}

.hero img {
    border-radius: 10%;
    width: 150px;
    height: auto;
}

/* about me section */
.about {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 20px 0;
}

.about h2 {
    font-size: 45px;
    width: 20%;
    text-align: left;
    display: flex;
    justify-content: flex-end;
    border-right: solid 3px;
    padding-right: 15px;
    text-shadow: 0 0 10px rgba(24, 23, 23, 0.3);
}

.about p {
    width: 70%;
    margin-left: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

/* work section */
.work-section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.section-title {
    font-size: 38px;
    width: 20%;
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
    border-right: solid 3px;
    margin: 20px 0;
    text-decoration: none;
    text-shadow: 0 0 10px rgba(80, 80, 105, 0.3);
}

.section-content {
    width: 78%;
    margin: 20px 0;
}
/* grid setup */
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    margin-left: 15px;
    width: 100%;
    grid-auto-flow: dense;
}

 .item-1 {
    height: 410px;
    background-image: url(/css/images/run-buddy.PNG);
    background-size: 100% 100%;
    grid-column:  span 2;
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    opacity: 0.6;
    border: solid 2px var(--primary-color);
 }

.item-2 {
    height: 200px;
    background-image: url(/css/images/horiseon.PNG);
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    opacity: 0.6;
    border: solid 2px var(--primary-color);
}
.item-3 {
    height: 200px;
    background-image: url(/css/images/house.PNG);
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    opacity: 0.6;
    border: solid 2px var(--primary-color);
}
.item-4 {
    height: 200px;
    background-image: url(/css/images/fire.PNG);
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    opacity: 0.6;
    border: solid 2px var(--primary-color);
}
.item-5 {
    height: 200px;
    background-image: url(/css/images/water.PNG);
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    opacity: 0.6;
    border: solid 2px var(--primary-color);
}
.item-1:hover, .item-2:hover, .item-3:hover, .item-4:hover, .item-5:hover {
    opacity: 1;
 }
.grid a {
    text-decoration: none;
    color: rgb(106, 122, 158);
}

.grid h3, .grid p{
    background-color: var(--primary-color);
    width: 40%;
}

/* contact me section styles */
.contact {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 20px 0;
}

.contact h2 {
    font-size: 45px;
    width: 20%;
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
    border-right: solid 3px;
    text-shadow: 0 0 10px rgba(24, 23, 23, 0.3);
}

.contact-details a {
    text-decoration: none underline;
    color: rgb(106, 122, 158);
    font-size: 16px;
    display: inline-block;
    margin-left: 30px;
    padding: 43px 25px;
    text-align: center;
    font-weight: bold;
}

/* Mobile responsive section */
@media screen and (max-width: 1400px) {
    .contact-details a {
        font-size: 16px;
        padding: 30px 20px;
        margin-left: 10px;
    }
    .contact {
        justify-content: center;
        margin: 0;
    }
    .contact h2 {
        font-size: 28px;
        flex: 1 100%;
        border-bottom: solid 3px;
        border-right: none;
        text-align: center;
        justify-content: center;
    }
}
@media screen and (max-width: 1024px) {
    header {
        padding: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        width: 100%;
        justify-content: center;
    }
    header nav ul li a {
        font-size: 18px;
    }
    .contact h2 {
        font-size: 38px;
    }
    .item-1, .item-2, .item-3, .item-4, .item-5 {
        opacity: 1;
    }
}

@media screen and (max-width: 768px) {
    .hero h2 {
        font-size: 20px;
    }
    .hero img {
        width: 120px;
    }
    .about h2 {
        font-size: 32px;
        flex: 1 100%;
        border-bottom: solid 3px;
        border-right: none;
        text-align: center;
        justify-content: center;
    }   
    .about {
        font-size: 15px;
        justify-content: center;
    }

    .section-title {
        flex: 1 100%;
        border-bottom: solid 3px;
        border-right: none;
        text-align: center;
        justify-content: center;
    }
    .section-content {
        width: 100%;  
    }
    .grid {
        margin: 0;
        justify-content: center;
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }

}